# Data types
## Built-in Data Types

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

- Text Type:	str
- [Numeric Types:	int, float, complex](http://localhost:8888/notebooks/Data%20Types.ipynb#Numbers)
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool
- Binary Types:	bytes, bytearray, memoryview

In [1]:
# Text Type : str
firstname = "Neeraj"

#number: int
age = 31

#number: float
averagecoffeeperday = 1.5 

#number : complex data type
complexdatatype = 1j

#list
leads = ["Neeraj","Ujen","Pooja","Bisheshta"]

#tuples
#note that values in the tuples cannot be changed as compared to list
females = ("Smritis","Pooja","Bisheshta","Melissa","Mikita","Shweta","Kabita","Saloni","Pooja")

#range
six_numbers = range(1,6)

#dict
singer = {'firstname':'Malcom','age':24,'genre':["Pop","Rock","Hip Hop"],'Popular':'Originals'}

#Set
device_you_can_take_home = {"Laptop", "Keyboard", "Monitor","Mouse"}

#frozenset
device_you_can_take_home = frozenset({"Laptop", "Keyboard", "Monitor","Mouse"})

#Boolean
Working_from_home = True

#Bytes
bytevalue = b"byte value"

#Byte Array
bArray = bytearray(5)

#MemoryView
x = memoryview(bytes(5))

## Getting the Data Type
You can get the data type of any object by using the `type()` function:

In [5]:
firstname = "Sujan'"
print(firstname," is of type", type(firstname))

Sujan'  is of type <class 'str'>

## Type Casting

Converting the data type of one value to another data type

In [9]:
age = 12
print('type(age) ->', type(age))
print('type(str(age)) ->',type(str(age)))

type(age) -> <class 'int'>
type(str(age)) -> <class 'str'>

In [8]:
#Examples of type casting
x = str("Hello World")# str
x = int(20) #int
x = float(20.5)#float
x = complex(1j)#complex
x = list(("apple", "banana", "cherry"))#list
x = tuple(("apple", "banana", "cherry"))#tuple
x = range(6)#range
x = dict(name="John", age=36)#dict
x = set(("apple", "banana", "cherry"))#set
x = frozenset(("apple", "banana", "cherry"))#frozenset
x = bool(5)#bool
x = bytes(5)#bytes
x = bytearray(5)#bytearray
x = memoryview(bytes(5))#memory view

b'\x00\x00\x00\x00\x00'

# Numbers
- int  
    Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.
- float
    - Float, or "floating point number" is a number, positive or negative, containing one or more decimals.
    - Float can also be scientific numbers with an "e" to indicate the power of 10.
- complex  
    Complex numbers are written with a "j" as the imaginary part:

Variables of numeric types are created when we assign a value to them:

In [14]:
integer = 1    # int
floatype = 2E8  # float
complextype = 1j   # complex

print(integer,' is of ',type(integer))
print(floatype,' is of ',type(floatype))
print(complextype,' is of ',type(complextype))

1  is of  <class 'int'>
200000000.0  is of  <class 'float'>
1j  is of  <class 'complex'>

## Math Operators

- Addition ( + )
- Subtraction ( - )
- Multiplication ( * )
- Division ( / )
- Modulus ( % )
- Exponentiation ( ** )
- Floor Division ( // )

In [10]:
17//5+20%2-10/5*3**2
#3+0-10/5*9
#3+0-2*9
#Assignment : find the order of the operator
#Note the output value type

-15.0

## String Literals
> String literals in python are surrounded by either single quotation marks, or double quotation marks.

```
'hello' is the same as "hello".
```

We can display a string literal with the print() function.


### Multiline Strings
We can assign a multiline string to a variable by using three quotes:

In [11]:
multiline_string = """This is a multiline string
and we define a multiple string by enclosing the string value inside three quotes:
'''multiple line string''' or \"\"\" multiple line string \"\"\"
"""
print(multiline_string)

This is a multiline string
and we define a multiple string by enclosing the string value inside three quotes:
'''multiple line string''' or """ multiple line string """

### Strings are Arrays
> String in Python are arrays of bytes representing unicode characters.

However, **Python does not have a character data type**, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string( **index start from 0** ).

In [15]:
title = "Python Training"
print(title[1])

y

### Slicing
> Returns a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [17]:
print(title[2:5])

tho

### Negative Indexing
Use negative indexes to start the slice from the end of the string:

In [27]:
print(title[-5:-2])

ini

In [30]:
#Other Functions
print(len(title))

15

In [19]:
#string concatenation
firstname = "Melissa"
lastname = "Gurung"

fullname = "Melissa"+" "+"Gurung"
print(fullname)

Melissa Gurung

**string and integer cannot be concatenated**

In [20]:
age = 16

print("Age of "+fullname+" is "+ age)

TypeError: can only concatenate str (not "int") to str

**So needs to be type casted to string**

In [21]:
print("Age of "+fullname+" is "+ str(age))

Age of Melissa Gurung is 16

In [22]:
#as the values are enclosed in the quotes these are considered as string
"10"+"2"

'102'

In [23]:
10 + 2

12

### Check if string exists in string

In [30]:
description = "Sujan Shrestha is talented, multi-lingual and married"
is_married = "married" in description
print(is_married)

True

### String format
> The `format()` method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [44]:
firstname = "Ujen"
number_of_son = 1
ten=10
description = "{} has {}son not {}son. So he is chilled.".format(firstname,number_of_son,ten)
print(description)

Ujen has 1son not 10son. So he is chilled.

In [60]:
#using the index
firstname = "Saloni"
sem = 2
college="Patan Campus"
score = 4.0
description = "{3} is studying in {1} in {2} semester. In the last semester she scored {0} GPA".format(score, college, sem, firstname)
print(description)

Saloni is studying in Patan Campus in 2 semester. In the last semester she scored 4.0 GPA

In [62]:
description = "{name} is studying in {college} in {semester} semester. In the last semester she scored {score} GPA".format(score=score, college=college, semester=sem,name=firstname)
print(description)

Saloni is studying in Patan Campus in 2 semester. In the last semester she scored 4.0 GPA

### Escape Character
> To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash ***\*** followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes.

In [31]:
Extract_specification = "Please generate all the extract in the directory file:\\sharedrive\brand\new_folder"
print(Extract_specification)

Please generate all the extract in the directory file:\sharedriverand
ew_folder

In [82]:
Extract_specification = "Please generate all the extract in the directory file:\\sharedrive\\brand\\new_folder"
print(Extract_specification) 
# Note the directory is still invalid

Please generate all the extract in the directory file:\sharedrive\brand\new_folder

In [83]:
Extract_specification = "Please generate all the extract in the directory file:\\\\sharedrive\\brand\\new_folder"
print(Extract_specification)

Please generate all the extract in the directory file:\\sharedrive\brand\new_folder

**we can also use raw type**

In [32]:
Extract_specification = r"Please generate all the extract in the directory file:\\sharedrive\brand\new_folder"
print(Extract_specification)

Please generate all the extract in the directory file:\\sharedrive\brand\new_folder

In [33]:
melissa_joke = 'Melissa's jokes are difficult to understand by the normal peoples ;)'

SyntaxError: invalid syntax (<ipython-input-33-5f5a6d583c14>, line 1)

In [70]:
melissa_joke = "Melissa's jokes are difficult to understand by the normal peoples ;)"
print(melissa_joke)

Melissa's jokes are difficult to understand by the normal peoples ;)

### Using split function
> `Split()` function can be used to generate a list from string based on a delimiter

In [87]:
nirmal_dai = "Features of Nirmal dai are Humble, To the point, rider, helpful, loved by all"
nirmal_dai_feature = nirmal_dai[27:].split(",")
print(nirmal_dai_feature)
print(type(nirmal_dai_feature))

['Humble', ' To the point', ' rider', ' helpful', ' loved by all']
<class 'list'>

### Input

> Use `input()` function to take input from the user  
**Input always get string data type**

In [1]:
name = input("Enter your name ")
print("Hello ! ",name,type(name))

Enter your name Suraj
Hello !  Suraj <class 'str'>

In [2]:
num1 = input("Enter num1 ")
num2 = input("Enter num2 ")
print("Addition of numbers",num1, num2 ," Is ", int(num1)+int(num2))

Enter num1 1
Enter num2 2
Addition of numbers 1 2  Is  3