# Pandas - ExcelWriter
> Version 0.13 of Pandas added support for new Excel writer engines in addtion to the two engines supported in pervious versions: Xlwt and Openpyxl. The first of the new writer engines to be added is XlsxWriter.

- XlsxWriter is a Python module for writing files in the Excel 2007+ XLSX file format
- XlsxWriter is a fully featured Excel writer that supports options such as autofilters, conditional formatting and charts.

It can be used to write text, numbers, and formulas to multiple worksheets and it supports features such as formatting, images, charts, page setup, autofilters, conditional formatting and many others.

XlsxWriter has some advantages and disadvantages over the alternative Python modules for writing Excel files.

**Advantages:**

- It supports more Excel features than any of the alternative modules.
- It has a high degree of fidelity with files produced by Excel. In most cases the files produced are 100% equivalent to files produced by Excel.
- It has extensive documentation, example files and tests.
- It is fast and can be configured to use very little memory even for very large output files.  


**Disadvantages:**

- It cannot read or modify existing Excel XLSX files.

Link to XlsxWriter : https://xlsxwriter.readthedocs.io/introduction.html


**Example :**

In [78]:
#import pandas with alias pd
import pandas as pd

In [86]:
#create a pandas dataframe from the data 
df_covid_cases = pd.read_csv("owid-covid-data.csv")
df_total_cases = df_covid_cases.groupby('location').total_cases.sum().astype(int)
df_total_cases

location
Afghanistan          3285231
Albania               457133
Algeria              2527633
Andorra               130685
Angola                 87047
                     ...
Western Sahara         47064
World             1590404440
Yemen                 133576
Zambia                455303
Zimbabwe              232805
Name: total_cases, Length: 212, dtype: int32

In [88]:
# Create a Pandas Excel Writer using XlsxWriter as the engine
new_excel_file = "total_cases.xlsx"
new_sheet_name = "location-wise-totalcases"
writer = pd.ExcelWriter(new_excel_file, engine="xlsxwriter")
df_total_cases.to_excel(writer,sheet_name = new_sheet_name)

# Close the Pandas Excel writer and output the excel file.
writer.save()

## Pandas - Charts

In order to add a chart to the worksheet, access to the underlying XlsxWriter Workbook and Worksheet objects are required.

In [104]:
writer = pd.ExcelWriter(new_excel_file, engine="xlsxwriter")
df_total_cases.to_excel(writer,sheet_name = new_sheet_name)

# Get the workbook
workbook = writer.book 
#get the sheet name
worksheet = writer.sheets[new_sheet_name]

# Create a chart object.
chart = workbook.add_chart({'type':'column'})

# configure the series of the chart from the dataframe data
chart.add_series({
    'values':"='"+new_sheet_name+"'!$B$2:$B$213",
    'categories':"='"+new_sheet_name+"'!$A$2:$A$213",
    'gap':2
})

#insert the chart into the worksheet
worksheet.insert_chart('D2', chart)

writer.save()

![Value_category](https://xlsxwriter.readthedocs.io/_images/chart_axes01.png)

## Axis Labels 

Adding Axis labels to the chart
```
chart.set_x_axis()  
chart.set_y_axis()
```

In [109]:
writer = pd.ExcelWriter(new_excel_file, engine="xlsxwriter")
df_total_cases.to_excel(writer,sheet_name = new_sheet_name)

# Get the workbook
workbook = writer.book 
#get the sheet name
worksheet = writer.sheets[new_sheet_name]

# Create a chart object.
chart = workbook.add_chart({'type':'column'})

# configure the series of the chart from the dataframe data
chart.add_series({
    'values':"='"+new_sheet_name+"'!$B$2:$B$213",
    'categories':"='"+new_sheet_name+"'!$A$2:$A$213",
    'gap':2
})

## add axis labels
chart.set_x_axis({
        'name':'Countries',
        'num_font':{'rotation':45}
})
chart.set_y_axis({'name':'Total Cases','major_gridlines':{'visible':False}})

#insert the chart into the worksheet
worksheet.insert_chart('D2', chart)

writer.save()

## Line Chart

```chart = workbook.add_chart({'type':'line'})```  

![Line chart](https://pandas-xlsxwriter-charts.readthedocs.io/_images/chart_line.png)

In [142]:
#get nepal data
nepal_cases = df_covid_cases[df_covid_cases.location=="Nepal"].groupby('date').total_cases.sum().astype(int)
nepal_cases.index = pd.to_datetime(nepal_cases.index) 
nepal_cases

date
2020-01-01        0
2020-01-10        0
2020-01-11        0
2020-01-12        0
2020-01-13        0
              ...
2020-08-07    21750
2020-08-08    22214
2020-08-09    22592
2020-09-01    39460
2020-09-02    40529
Name: total_cases, Length: 247, dtype: int32

In [147]:
writer = pd.ExcelWriter(new_excel_file, engine="xlsxwriter")
sheet_name = "nepal_cases"
nepal_cases.to_excel(writer,sheet_name = sheet_name)

# Get the workbook
workbook = writer.book 
#get the sheet name
worksheet = writer.sheets[sheet_name]

# Create a chart object.
chart = workbook.add_chart({'type':'line'})

# configure the series of the chart from the dataframe data
chart.add_series({
    'values':"='"+sheet_name+"'!$B$2:$B$248",
    'categories':"='"+sheet_name+"'!$A$2:$A$248",
    'gap':2
})

## add axis labels
chart.set_x_axis({
        'name':'Date',
        'num_font':{'rotation':45}
})
chart.set_y_axis({'name':'Total Cases','major_gridlines':{'visible':False}})

#insert the chart into the worksheet
worksheet.insert_chart('D2', chart)

writer.save()

## Multiple-Line Chart

```chart = workbook.add_chart({'type':'line'})```  


![Multiple line chart](https://pandas-xlsxwriter-charts.readthedocs.io/_images/chart_legend.png)

In [185]:
#get world data
df_covid_cases.date = pd.to_datetime(df_covid_cases.date)
df_total_cases = df_covid_cases[['date','location','total_cases']].fillna(0)
world_cases =  df_total_cases.pivot(index='date',columns='location',values='total_cases').fillna(0).astype(int)
world_cases

location,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vatican,Venezuela,Vietnam,Western Sahara,World,Yemen,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,27,0,0,0
2020-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,27,0,0,0
2020-01-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,27,0,0,0
2020-01-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,44,0,0,0
2020-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,44,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-29,38140,9195,43403,1124,2471,3,94,380279,43451,1906,...,1556,40953,12,43879,1038,766,24761517,1943,11779,6388
2020-08-30,38143,9279,43782,1124,2551,3,94,392009,43626,1975,...,1570,41303,12,44946,1040,766,25030516,1947,11902,6406
2020-08-31,38162,9380,44146,1124,2624,3,94,401226,43750,1997,...,1585,41651,12,45868,1040,766,25275711,1953,12025,6412
2020-09-01,38196,9513,44494,1176,2624,3,94,408413,43781,2006,...,1595,41994,12,45868,1044,766,25517643,1958,12097,6497
2020-09-02,38205,9606,44833,1184,2654,3,94,417722,43878,2104,...,1611,42370,12,47756,1044,766,25776601,1962,12381,6559

In [219]:
writer = pd.ExcelWriter(new_excel_file, engine="xlsxwriter")
sheet_name = "world_cases"
world_cases.to_excel(writer,sheet_name = sheet_name)


# Get the workbook
workbook = writer.book 

#chartsheet 
chartsheet = workbook.add_chartsheet('world_cases_chart')

#get the sheet name
worksheet = writer.sheets[sheet_name]

# Create a chart object.
chart = workbook.add_chart({'type':'line'})

# configure the series of the chart from the dataframe data
for i in range(1, len(world_cases.columns.values)):
    chart.add_series({
        'name'      : [sheet_name, 0, i],
        'values'    : [sheet_name, 1, i, 248, i],
        'categories': [sheet_name, 1, 0, 248, 0],
        'gap':2
    })

## add axis labels
chart.set_x_axis({
        'name':'Date',
        'num_font':{'rotation':45}
})
chart.set_y_axis({'name':'Total Cases','major_gridlines':{'visible':False}})

# #insert the chart into the worksheet
chartsheet.set_chart(chart)

writer.save()

## Scatter Chart

![Scatter chart](https://pandas-xlsxwriter-charts.readthedocs.io/_images/chart_scatter.png)

In [220]:
#get world data
df_covid_cases.date = pd.to_datetime(df_covid_cases.date)
df_total_cases = df_covid_cases[['date','location','total_cases']][df_covid_cases.date==df_covid_cases.date.max()].fillna(0)
# world_cases =  df_total_cases.pivot(index='date',columns='location',values='total_cases').fillna(0).astype(int)
latest_data = df_total_cases.groupby('location').total_cases.sum()
latest_data

location
Afghanistan          38205.0
Albania               9606.0
Algeria              44833.0
Andorra               1184.0
Angola                2654.0
                     ...
Western Sahara         766.0
World             25776601.0
Yemen                 1962.0
Zambia               12381.0
Zimbabwe              6559.0
Name: total_cases, Length: 210, dtype: float64

In [224]:
writer = pd.ExcelWriter(new_excel_file, engine="xlsxwriter")
sheet_name = "latest_cases"

#SET data in excel
latest_data.to_excel(writer,sheet_name = sheet_name)


# Get the workbook
workbook = writer.book 

#chartsheet 
# chartsheet = workbook.add_chartsheet('latest_cases')

#get the sheet name
worksheet = writer.sheets[sheet_name]

# Create a chart object.
chart = workbook.add_chart({'type':'scatter'})

# configure the series of the chart from the dataframe data
chart.add_series({
#     'name'      : [sheet_name, 1, 1, 210, 1],
    'values'    : [sheet_name, 1, 1, 211, 1],
    'categories': [sheet_name, 1, 0, 211, 0],
    'marker'    : {'type':'circle', 'size':7}
})

## add axis labels
chart.set_x_axis({
        'name':'Countries',
        'num_font':{'rotation':45}
})
chart.set_y_axis({'name':'Total Cases','major_gridlines':{'visible':False}})

# #insert the chart into the worksheet
worksheet.insert_chart('D2', chart)

writer.save()

## Other Charts that can be created
Referenced from : https://pandas-xlsxwriter-charts.readthedocs.io/chart_examples.html

## Colours 
![Colours](https://pandas-xlsxwriter-charts.readthedocs.io/_images/chart_colors.png)  

## Area Chart
![Area Chart](https://pandas-xlsxwriter-charts.readthedocs.io/_images/chart_area.png)   

## Stacked Area Chart
![Stacked Area Chart](https://pandas-xlsxwriter-charts.readthedocs.io/_images/chart_stacked_area1.png)  

## Heat Stacked Area Chart
![Heat Stacked Area Chart](https://pandas-xlsxwriter-charts.readthedocs.io/_images/chart_stacked_area2.png)  

## Stacked Column Chart
![Stacked Column Chart](https://pandas-xlsxwriter-charts.readthedocs.io/_images/chart_stacked_column_farms.png)  

## Grouped Column Chart
![Grouped Column Chart](https://pandas-xlsxwriter-charts.readthedocs.io/_images/chart_grouped_column.png)  

## Pie Chart
![Pie Chart](https://pandas-xlsxwriter-charts.readthedocs.io/_images/chart_pie.png)