  # Variables
  
  ## What are variables ?
  
  Variables are containers for storing data values.
  Unlike other programming languages, Python has no command for declaring a variable.
  A variable is created the moment you first assign a value to it.

In [1]:
# Example to create variable
firstname = "Smriti"
age = 25 

print(firstname)
print(age)

Smriti
25

**Please note that while creating variable no data type is defined. So to check the variable type we can use the syntax as below**

In [5]:
print('data type of firstname is ',type(firstname),' another argument')
print('data type of age is ', type(age))

data type of firstname is  <class 'str'>  another argument
data type of age is  <class 'int'>

## Variable Naming Convention

A variable can have a short name (like x and y) or a more descriptive name (age, firstname, last_name). Rules for Python variables:
- A variable name must start with a letter or the underscore character  
```
 age
 _age
 age1
 age_1
```
- A variable name cannot start with a number  
` 2age ` this is invalid variable name
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are **case-sensitive** (age, Age and AGE are three different variables)

In [27]:
#Legal variable names:
age = 22
age_1 = 23
_age = 24
aGe = 25
AGE = 26
age1 = 27

In [28]:
#Illegal variable names:
1age = 28
age-1 = 29
age 1 = 30

SyntaxError: invalid syntax (<ipython-input-28-df510b7158ef>, line 2)

## Assign Value to Multiple Variables

Python allows you to assign values to multiple variables in one line:

In [3]:
firstname, lastname, gender, age = "Nirmal", "Maharjan", "M", 25
print(firstname)
print(lastname)
print(gender)
print(age)

# just for separation
print(" ")

# print all the variables at once
print("Print multiple variables in one print function")
print(firstname, lastname, gender, age)

# just for separation
print(" ")

# or change the value for end argument
print("Pass ' '(space) as a argument for end parameter")
print(firstname, end= " ")
print(lastname, end= " ")
print(gender, end= " ")
print(age, end= " ")

# just for separation
#print the blank space twice because the earlier print function print in the same line and has no break line
print(" ")
print(" ")

#or concatenate the strings as below
print("Using string concatenation")
print(firstname+" "+lastname+" "+gender+" "+str(age))

Nirmal
Maharjan
M
25

Print multiple variables in one print function
Nirmal Maharjan M 25

Pass ' '(space) as a argument for end parameter
Nirmal Maharjan M 25

Using string concatenation
Nirmal Maharjan M 25

## And we can assign the same value to multiple variables in one line:

In [4]:
firstname = name = fname = "Mikita"
print(firstname)
print(name)
print(fname)

Mikita
Mikita
Mikita